@model WasteCollection.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .columnD {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>
    <h1 class="text-success">Welcome, @Html.DisplayFor(model => model.FirstName)</h1>
    <form asp-action="Edit" asp-route-id="@Model.Id" method="get">
        <button type="submit" class="btn btn-success">Add a Pickup, Suspend account services, or change personal information</button>
    </form>
    <div class="row">
        <div class="columnD">
            <div class="card border-success" style="max-width: 25rem;">
                <div class="card-header h4 text-success">Current Balance</div>
                <div class="card-body">
                    <h4 class="card-title text-danger"><strong>@Html.DisplayFor(model => model.CurrentAccountBalance)</strong></h4>
                    <p class="card-text"><strong>Your trash collection is on <mark> @Html.DisplayFor(model => model.PickUpDay.Date) </mark></strong>. <br /> Please have your cans in their designated location for collection.</p>
                </div>
            </div>
        </div>
        <div class="columnD">
            <div class="card border-success" style="max-width: 25rem;">
                <div class="card-header h4 text-success">Additional PickUp Day</div>
                <div class="card-body">
                    <h4 class="card-title text-success">
                        @if (Model.AdditionalPickUpDay == null)
                        {
                            <strong>Please request an additional pick up.</strong>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.AdditionalPickUpDay)
                        }
                    </h4>
                </div>
            </div>
        </div>
        <div class="columnD">
            <div class="card border-success" style="max-width: 25rem;">
                <div class="card-header h4 text-success">Suspension Status</div>
                <div class="card-body">
                    <h4 class="card-title text-info text-success">
                        @if (Model.AccountSuspendStartDate == null || Model.AccountSuspendEndDate == null)
                        {
                            <strong class="text-success">Your service is currently active!</strong>

                        }
                        else
                        {
                            @Html.DisplayFor(model => model.AccountSuspendStartDate) <text> <br /> until <br /> </text> @Html.DisplayFor(model => model.AccountSuspendEndDate)
                        }
                    </h4>
                </div>
            </div>
        </div>
    </div>
</body>

